{% capture easysearchPreparedTerms %}<span class="easysearch-search-terms">{{ search.terms | join: ' ' }}</span>{% endcapture %}
<script type="text/javascript">
  document.addEventListener = document.addEventListener || function(e, f){ document.attachEvent('on' + e, f); };
  document.addEventListener('easysearch_init_native_search_page', function (e) {
    e.preventDefault();e.stopImmediatePropagation();
    easysearch.jq(document).ready(function(){ easysearch.currentTag = easysearch.getCookie('easysearch-tag-filter'); easysearch.initNativeSearchPage(false); });
  });
</script>