{% if paginate.next %}
  <div class="easysearch-paginate-more">
    <a href="javascript:void(0);" onclick="if( typeof easysearch == 'object' ) { easysearch.searchPagePaginator(this); }" data-url="{{ paginate.next.url }}">
      More
    </a>
  </div>
{% endif %}